.btn-top-right {
  position: absolute;
  right: 40px;
  top: 40px;
  padding: 10px;
}

.btn-top-right-two {
  position: absolute;
  right: 160px;
  top: 40px;
  padding: 10px;
}

.cocktail-title {
  padding: 10px;
}

.cocktail-card {
  padding-left: 20px;
}

.doses-list {
  margin-bottom: 20px;
  padding-bottom: 30px
}

.fa-trash-o {
  color: black;
}
